{{#md-toolbar}}
     <div class="md-toolbar-tools menu_color">
        {{#md-button class="md-icon-button"}}{{#link-to 'index'}}{{md-icon md-svg-icon="/images/icons.svg"}}{{/link-to}}{{/md-button}}
        <h2><span>{{#link-to 'index'}}CarRiders{{/link-to}}</span></h2>
     </div>
 {{/md-toolbar}}

{{outlet}}
