<div class="container">
  <div id="login" class="signin-card">
    <div class="logo-image">
    <img src="images/icons.svg" alt="Logo" title="Logo" width="138">
    </div>
    <h1 class="display1">CarRiders</h1>
    <p class="subhead"></p>

    <form action="" method="" class="" role="form">

      {{#md-input-container value=user.email}}
              <label>Email</label>
              {{md-input type="email"}}
          {{/md-input-container}}

          {{#md-input-container value=user.password}}
                  <label>Password</label>
                  {{md-input type="password"}}
              {{/md-input-container}}

  {{#md-checkbox}}Remember Me{{/md-checkbox}}

      {{#md-button class="md-raised"}}Sign In{{/md-button}}


    </form>

    <div>
      <br>
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>

  </div>
</div>

{{outlet}}
